---
import '@/styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Artur Komaristych</title>
    <meta http-equiv="refresh" content="0; url=/en/" />
  </head>
  <body>
    <script is:inline>
      ;(function () {
        var STORAGE_KEY = 'preferred-locale'
        var SUPPORTED = ['en', 'de']
        var stored = localStorage.getItem(STORAGE_KEY)
        var target = stored && SUPPORTED.indexOf(stored) !== -1 ? stored : null
        if (!target) {
          var browserLangs = navigator.languages || [navigator.language || 'en']
          for (var i = 0; i < browserLangs.length; i++) {
            var code = browserLangs[i].slice(0, 2).toLowerCase()
            if (SUPPORTED.indexOf(code) !== -1) {
              target = code
              break
            }
          }
          target = target || 'en'
        }
        localStorage.setItem(STORAGE_KEY, target)
        window.location.replace('/' + target + '/')
      })()
    </script>
    <noscript><a href="/en/">Continue to site</a></noscript>
  </body>
</html>
