---
import { TimelineContainer } from '@/components/timeline/TimelineContainer'
import { TimelineEntry } from '@/components/timeline/TimelineEntry'
import Section from '@/components/ui/Section.astro'
import Base from '@/layouts/Base.astro'
import Hero from '@/partials/Hero.astro'
---

<Base title="Timeline">
  <Hero />

  <Section title="Experience">
    <TimelineContainer>
      <TimelineEntry
        title="Software Developer"
        subTitle="Infolytics AG"
        dateFrom="October 2022"
        dateTo="Present"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>Promoted to Software Developer with expanded responsibilities</li>
          <li>
            Provisioning of virtual machines (Ubuntu, CentOS, AlmaLinux) using
            Proxmox VE and Ansible
          </li>
          <li>
            Development and maintenance of CI/CD pipelines based on GitLab CI
            and GitHub Actions
          </li>
          <li>Support for trainees with questions and issues</li>
          <li>
            Preparation of presentations addressing trainee inquiries and
            challenges
          </li>
        </ul>
      </TimelineEntry>

      <TimelineEntry
        title="Working Student in Application Development"
        subTitle="Infolytics AG"
        dateFrom="October 2018"
        dateTo="September 2022"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            Working student in application development across different projects
            and tech stacks
          </li>
          <li>
            Development of RESTful services using Spring Boot, Hibernate, JPA,
            and other technologies
          </li>
          <li>Web development using Angular, ReactJS, and Next.js</li>
          <li>
            Maintenance of the Signal Data Platform (SDF) for the DFWind project
            using C++, Boost, and unixODBC
          </li>
        </ul>
      </TimelineEntry>
    </TimelineContainer>
  </Section>

  <Section title="Internships">
    <TimelineContainer>
      <TimelineEntry
        title="Bachelor Thesis"
        subTitle="Fraunhofer IPT"
        dateFrom="March 2022"
        dateTo="November 2022"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            Bachelor thesis as part of the AIxCell project, focusing on the
            migration of an existing AutoML pipeline to the cloud
          </li>
          <li>
            Migration of an AutoML pipeline to a Kubernetes (K8s) cluster,
            optimizing scalability and resource management
          </li>
          <li>
            Design and implementation of a backend for executing AutoML
            pipelines, ensuring efficient processing and seamless integration
            with machine learning models
          </li>
          <li>
            Development of a robust RESTful API using NestJS to manage and
            monitor AutoML pipelines
          </li>
          <li>
            Enhancement of a ReactJS based Single Page Application (SPA),
            optimizing the user interface and integrating AutoML workflows
          </li>
          <li>
            <strong>Technologies:</strong> TypeScript, NestJS, Python, Podman, Argo,
            Oracle OKE
          </li>
        </ul>
      </TimelineEntry>

      <TimelineEntry
        title="Internship"
        subTitle="Infolytics AG"
        dateFrom="July 2018"
        dateTo="September 2018"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            Internship as part of the training for Information Technology
            Assistant, gaining practical experience in software development
          </li>
          <li>
            Implementation of a Java library for a DFWind-specific network
            protocol based on TCP
          </li>
          <li>
            Development of RESTful services using Spring Boot with JPA and
            Hibernate
          </li>
          <li>
            Microcontroller programming to simulate a measuring station for the
            DFWind project, contributing to real-time data processing and system
            testing.
          </li>
        </ul>
      </TimelineEntry>

      <TimelineEntry
        title="International Internship"
        subTitle="Erasmus Internship in Marseille, France"
        dateFrom="April 2017"
        dateTo="April 2017"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            Erasmus internship as part of the training for Information
            Technology Assistant
          </li>
          <li>
            Soldering of SMD components, working on hardware assembly and repair
          </li>
          <li>
            Provisioning and setup of computers for customer orders, ensuring
            system functionality and configuration to client specifications
          </li>
        </ul>
      </TimelineEntry>
    </TimelineContainer>
  </Section>

  <Section title="Education">
    <TimelineContainer>
      <TimelineEntry
        title="Master of Science in Computer Science"
        subTitle="University of Cologne"
        dateFrom="April 2023"
        dateTo="Present"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            <strong>Focus Area:</strong> Development of Software-Intensive Systems,
            with emphasis on scalable architectures and cloud-native applications
          </li>
          <li>
            <strong>Supplementary Area:</strong> Scientific and High-Performance
            Computing, focusing on parallel computing and optimization techniques
          </li>
          <li>
            Explored machine learning, specifically computer vision, through
            coursework and hands-on projects
          </li>
          <li>
            Actively participated in a committee responsible for selecting a new
            faculty member in the Computer Science department
          </li>
        </ul>
      </TimelineEntry>

      <TimelineEntry
        title="Bachelor of Science in Computer Science"
        subTitle="RWTH Aachen University"
        dateFrom="October 2018"
        dateTo="September 2022"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            <strong>Thesis:</strong> Development and Deployment of a Cloud-Based
            System Architecture for Domain-Specific AutoML Systems
          </li>
          <li>
            Focused on software development, system design, and advanced
            internet technologies, i.e., cloud computing, full-stack
            development, and distributed systems
          </li>
          <li>
            Supplementary studies in Business Administration (BWL), covering
            business processes and management concepts
          </li>
        </ul>
      </TimelineEntry>

      <TimelineEntry
        title="Information Technology Assistant"
        subTitle="Georg-Simon-Ohm-Berufskolleg"
        dateFrom="August 2015"
        dateTo="November 2018"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            Develop applications in C# (.NET) and write modular C programs for
            microcontroller projects
          </li>
          <li>
            Program microcontrollers to interface with peripherals using I2C/TWI
            protocols, managing data transfer and processing
          </li>
          <li>
            Plan and set up local networks, configuring VLANs, IP address
            schemes, subnetting, and managing network traffic with switches,
            routers, and firewalls
          </li>
          <li>
            Design and manage SQL databases, perform data normalization, write
            advanced queries
          </li>
        </ul>
      </TimelineEntry>

      <TimelineEntry
        title="General University Entrance Qualification"
        subTitle="Georg-Simon-Ohm-Berufskolleg"
        dateFrom="August 2015"
        dateTo="June 2018"
      >
        <ul class="ml-4 list-disc text-muted-foreground">
          <li>
            <strong>Major subjects:</strong> Mathematics and Technical Computer Science
          </li>
          <li>Acquired skills in problem-solving and analytical thinking</li>
          <li>
            Participated in various technical projects and team collaborations
          </li>
        </ul>
      </TimelineEntry>
    </TimelineContainer>
  </Section>
</Base>
