---
import BaseHead from '@/components/layout/BaseHead.astro'
import Header from '@/components/layout/Header.astro'

import Footer from '@/components/layout/Footer.astro'
import ThemeProvider from '@/components/layout/ThemeProvider.astro'
import { SITE_TITLE } from '../consts'
import { getLangFromUrl } from '@/i18n/utils'
import { content as contentEn } from '@/i18n/content/en'
import { content as contentDe } from '@/i18n/content/de'

const { title } = Astro.props
const lang = getLangFromUrl(Astro.url)
const content = lang === 'de' ? contentDe : contentEn
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={`${title} - ${SITE_TITLE}`}
      description={content.meta.description}
    />
  </head>
  <body class="flex justify-center bg-background">
    <ThemeProvider />
    <div
      class="flex min-h-screen w-screen max-w-[60rem] flex-col items-center px-6 pb-10 pt-7 font-satoshi text-[0.92rem] leading-relaxed sm:px-10 lg:px-10"
    >
      <Header />
      <main class="flex w-full flex-col gap-y-10">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
